@media screen and (max-width: 640px)  { *{font-size:45%;} }
@media screen and (max-width: 1024px) { *{font-size:85%;} }

body {
	margin:0 auto;
	text-align: center;
	background-image:url(logo.png);
	background-size:cover; 
	color:white;
}
input {
	width:250px;
	height:40px;
	border-radius:20px;
	font-size:20px;
	margin-right:20px;
	text-align: center;
}

li {
	font-size:30px;
	margin:10px;
	text-align:left;
	max-width:500px;
    word-wrap:break-word;
    list-style-type:none;

}

.inputMessage {
	font-size:30px;
	width:500px;
}

button{
	width:120px;
	height:40px;
	font-size:20px;
	border-radius:5px;
	color:white;
	background:#D03322FF;
		
	margin:5px;
}

button:hover {
	background:#4A9672FF;

}

.buttonEnter {
	width:250px;
}
.Chat {
	float:right;
	border:solid 3px; 
	border-radius:110px;
	width:550px;
	margin-right:300px;
	margin-top:50px;
}

.mainlink {	

	width:230px;
	height:320px;
	float:left; 

}

.mainlink button {
	width:150px;
}
.fishingPhoto {
	float:right;
	margin-right:500px;
}
img {
	border-radius:20px;
}
